---
layout: default
---
<h1 class="content-subhead"><a href="{{site.baseurl}}/post-musica">Música</a></h1>
{% for posts in site.categories.musica-album %}
<section class="post pure-u-1 pure-u-lg-1-5">
    <div class="post-description">
      <div class="">
        <a href="{{site.baseurl}}{{posts.url}}">
          <img class="pure-img-responsive" src="{{site.baseurl}}/{{posts.imagem-capa}}" alt="{{post.imagem-capa-meta}}">
        </a>
      </div>

    </div>
</section>
{% endfor %}

{% for posts in site.categories.musica-single %}
<section class="post pure-u-1 pure-u-lg-1-5">
    <div class="post-description">
      <div class="">
        <a href="{{site.baseurl}}{{posts.url}}">
          <img class="pure-img-responsive" src="{{site.baseurl}}/{{posts.imagem-capa}}" alt="{{post.imagem-capa-meta}}">
        </a>
      </div>

    </div>
</section>
{% endfor %}

<h1 class="content-subhead"><a href="{{site.baseurl}}/post-artigo">Artigos</a></h1>
{% for posts in site.categories.artigo %}
<section class="post">
    <header class="post-header">

        <h2 class="post-title"><a href="{{site.baseurl}}{{posts.url}}">{{posts.title}}</a></h2>

        <p class="post-meta">
            By <a href="#" class="post-author pure-u-1">{{posts.author}}</a>
        </p>

    </header>

    <div class="post-description">
      <div class="pure-u-1 pure-u-lg-2-5 post-images">
        <img class="pure-img-responsive" src="{{site.baseurl}}/{{posts.imagem-capa}}" alt="{{post.imagem-capa-meta}}">
      </div>
      <div class="pure-u-1 pure-u-lg-2-5">
        <p class="">
          {{posts.meta}}
        </p>

      </div>


    </div>
</section>
{% endfor %}
